<!-- data_analysis/templates/data_analysis/branch_analysis.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch wise Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'data_analysis/each_inst.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <img src="{% static 'images/josaa logo.png' %}" alt="JOSAA logo" id="logo">
            <div class="section">
                <h3>संयुक्त सीट आवंटन प्राधिकरण</h3>
                <h1 class="heading1">Joint Seat Allocation Authority</h1>
                <h4 class="heading4">Admission and eCounselling Services for Session 2024</h4>
            </div>
        </div>
    </header>
    <nav class="navigation">
        <a href="{% url 'home' %}" class="navcontent">Home</a>
        <a href="{% url 'about' %}" class="navcontent">About</a>
    </nav>
    <main>
        <div class="filters">
            <select id="institute-select"></select>
            <select id="program-select"></select>
            <select id="seat-type-select"></select>
        </div>
        <div id="chart"></div>
    </main>
    <script src="{% static 'data_analysis/branch.js' %}"></script>
</body>

</html>
