body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background: #c4edce;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 80px;
    margin-right: 20px;
}

.section {
    text-align: left;
}

.heading1, .heading4 {
    margin: 0;
}

.heading1 {
    font-size: 2.5rem;
}

.heading4 {
    font-size: 1.2rem;
}

.navigation {
    background: #14710d;
    padding: 10px 0;
    text-align: center;
}

.navcontent {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.navcontent:hover {
    background: #4eb300;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #28820d;
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    color: #28820d;
    margin-top: 20px;
    border-bottom: 2px solid #28820d;
    padding-bottom: 5px;
}

h3 {
    margin: 0;
    color: #28820d;
}

.branch-heading {
    margin-top: 30px;
}

.branch {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f1f1f1;
}

.branch-name {
    background: #d0eac8;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.branch-info {
    padding: 10px;
}

.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    background-color: #333;
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: #ccc;
}

.footer-info {
    margin-bottom: 10px;
}

.footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    max-height: 50px;
    margin: 0 10px;
    
}